body {
  text-align: center;
  background : #479eeb;
}

#container {
  margin: 20px auto;
  padding: 20px;
}

#timer {
  width: 75vmin;
  height: 75vmin;
  box-shadow: 0 0 0 1.875vmin, inset 3.75vmin 3.75vmin 7.5vmin rgba(0, 0, 0, 0.125), 3.75vmin 3.75vmin 7.5vmin rgba(0, 0, 0, 0.125);
  font-size: 17vmin;
  text-shadow: 3.75vmin 3.75vmin 7.5vmin rgba(0, 0, 0, 0.125);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  border-radius: 50%;
  font-weight: 700;
}
@media (min-width: 600px) {
  #timer {
    width: 50vmin;
    height: 50vmin;
    box-shadow: 0 0 0 1.25vmin, inset 2.5vmin 2.5vmin 5vmin rgba(0, 0, 0, 0.125), 2.5vmin 2.5vmin 5vmin rgba(0, 0, 0, 0.125);
    font-size: 10vmin;
    text-shadow: 2.5vmin 2.5vmin 5vmin rgba(0, 0, 0, 0.125);
  }
}

#filler {
  background: rgba(255, 255, 255, 0.125);
  height: 0px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#buttons button {
  background: #475deb;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  width: 100px;
  margin: 10px;
  font-size: 25px;
  height: 50px;
  border-radius: 50px;
}

#buttons button:disabled {
  cursor: not-allowed;
  opacity: .5;
}
